

#section1{
    background-image: url("https://images.unsplash.com/photo-1626313680130-d18000ed7303?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg{
    padding-top: 20rem;
   padding-bottom: 5rem;
}